<!DOCTYPE html>
<html>

<head>
	<title>Accessability Site</title>
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
	<link rel="icon" type="image/gif" href="favicon.png" sizes="16x16" />
	<link rel="stylesheet" href="static/style.css" />
</head>

<body>
	<div class = "header">
		<div class = "features">
			<div class = "wrapper"> 
				<i class = "fa fa-file-audio" id = "speak"></i>
				<i class = "fa fa-font"></i>
				<div class = "fonts">
					<i class = "fa fa-plus" id = "inc-font"></i>
					<i class = "fa fa-minus" id = "dec-font"></i>
				</div>
				<div class = "theme">
					<i class = "fa fa-moon" id = "darkMode" class = "themes"></i> 
					<i class = "fas fa-sun" id = "lightMode" class = "themes"></i> 
				</div>
			</div>
		</div>
			<div class = "searchbar"> 
				<form action="{{ url_for('serve_article') }}" method="post">
					<input type = "text" placeholder="Enter URL here..." name = "URL">
					<button type = "submit"><i class = "fa fa-search fa-rotate-vertical" id = "search"></i></button>
				</form>
			
			</div>
		
	</div>
	<hr>
	<div class = "body-container"> 
		<div class = "float-left"> 
			<center><div class = "page-logo"><div id = "mount"></span><img src = "static/test.png"></div></center>
			<center>
			<div class = "pictures">
				<i class="fas fa-arrow-circle-left" id = "previous"></i>
				{% if images.length > 0 %}
 					{% for i in images.length %}
			        <div class = "mySlides fade">
                    <img src = "{{images[i]}}" style="width:90%">
                    <figcaption>{{caption[i]}}</figcaption>
                	</div>
			    	{% endfor %}
			</div>
			</center>
            <div>
            	{% if images.length > 0 %}
 					{% for i in images.length %}
			        <span class = "counter"></span>
			    	{% endfor %}
            </div>
		</div>
		<div class = "float-right">
			<div id = "article-title" src = "{{title}}"></div>
			<div id = "main-text"  src = "{{text}}"></div>
		</div>
	</div>

	<script>
		document.getElementById("darkMode").addEventListener("click", darkModeTheme);
		document.getElementById("lightMode").addEventListener("click", lightModeTheme);
		document.getElementById("inc-font").addEventListener("click", incfont);
		document.getElementById("dec-font").addEventListener("click", decfont);
		document.getElementById("speak").addEventListener("click", speak);

		var text = document.getElementById("main-text");
		var title = document.getElementById("article-title");

		function darkModeTheme() {
			document.body.style.backgroundColor = "grey";
			document.getElementById("darkMode").style.display = "none";
			document.getElementById("lightMode").style.display = "inline";
		}

		function lightModeTheme() {
			document.body.style.backgroundColor = "white";
			document.getElementById("lightMode").style.display = "none";
			document.getElementById("darkMode").style.display = "inline";
		}

		function incfont(){
			var font = window.getComputedStyle(text).fontSize;
			var fontSize = parseInt(font);
			fontSize = (fontSize + 2) + "px";
			text.style.fontSize = fontSize;
		}

		function decfont(){
			var font = window.getComputedStyle(text).fontSize;
			var fontSize = parseInt(font);
			fontSize = (fontSize - 2) + "px";
			text.style.fontSize = fontSize;
		}

		function speak(){
			var intro = new SpeechSynthesisUtterance("Title of Article");
			var titleMessage = new SpeechSynthesisUtterance(title.innerHTML);
			var intro2 = new SpeechSynthesisUtterance("Article Text");
			var bodyMessage = new SpeechSynthesisUtterance(text.innerHTML);

			window.speechSynthesis.speak(intro);
			window.speechSynthesis.speak(titleMessage);
			window.speechSynthesis.speak(intro2);
			window.speechSynthesis.speak(bodyMessage);
		}
		
		$(window).load(function() {
			$('.flexslider').flexslider({
			    animation: "slide"
			});
		});
	</script>
	
	<script type="text/javascript" src = "static/carousel.js"></script>	


</body>

</html>
