body {
	background-color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Lexend Deca';
}

p {
  font-size: 4em;
}

.header {
	display: flex;
	margin: 2em;

}

.header .features {
	width: 40%;
	margin-left: 3em;
}

.header .searchbar input[type=text]{
	vertical-align: middle;
}

.searchbar i {
	font-size: 2.5em;
	
}

hr {
	width: 70%;
}



.features .wrapper {
	display: inline-block;
	padding: .5em;
	border: .1em solid black;
	border-radius: .2em;
	float: left;
}

.wrapper i {
	font-size: 1.75em;
	padding: .25em;

}

.wrapper .theme {
	display: inline-block;
}

.wrapper .fonts {
	display: inline-block;
	font-size: .5em;
	width: min-content;
	bottom: 0;
	padding: 0;

}

.wrapper .fonts {
	
	padding: 0;
}


.themes {
	position: absolute;
	top: 0;
	left: 0;
}

.searchbar {
  	display: inline-block;
  	width: -webkit-fill-available;
  	margin-right: 5%;
  	margin-left: 5%;
}

.searchbar input[type=text] {
  	font-size: 1.6em;
  	width: -webkit-fill-available;
  	padding: .5em;
  	
 }

.fa fa moon {
	color: white;
}

#lightMode {
	display: none;
}

.float-right {
	font-size: 1em;
	float:right;
	padding: 1em;
	margin: 2em;
	width: 55%;
	border: .1em solid black;
	border-radius: .2em;
	overflow-y: auto;
	height: max-height;
}

.float-right-landing {
	font-size: 1em;
	float:right;
	padding: 1em;
	margin: 2em;
	width: 40%;
	height: max-height;
	overflow-y: auto;
}


#article-title {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: .5em;
	font-weight: bold;
	font-size: 2em;
}

#main-text {
	float:left;
	font-size: 1em;
}

.body-container {
	display: flex;
}

.float-left {
	width: 35%;
}

.page-logo img {
	width: 200px;
	align-content: center;
	margin-top: 1em;
}

.section-right img{
    height:300px;
    margin-top:80px;
}

.mySlides img {
	margin-top:1em;
	height: 225px;
	width: 100%;
}

.pictures {
	display: flex;
}

.pictures i {
	margin-top: 25%;
	font-size: 1.5em; 
}

form {
	display: inline-flex;
}

.searchbar form {
	width: -webkit-fill-available;
}

.searchbar {
	width: 80%;
}

/*
.page-logo #mount {
	background-color: #AEC6CF;
	height: 30px;
	width: 100px;
	vertical-align: middle;
}
*/
*
.big-logo img {
	align-content: center;
	margin-left: 4em;
	position: absolute;
	width: 25%;
	margin-top: 2em;
}

