<!DOCTYPE html>
<html>

<head>
	<title>Accessability Site</title>
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
	<link rel="icon" type="image/gif" href="favicon.png" sizes="16x16" />
	<link rel="stylesheet" href="../static/style.css" />
</head>

<body onLoad = "advance()">
	<div class = "header">
		<div class = "features">
			<div id = "wrapper"> 
				<i class = "fa fa-file-audio" id = "speak" title = "Read article"></i>
				<i class="fa fa-audio-description" id = "caption-speak" title = "Listen to Caption"></i>
				<i class = "fa fa-font" title = "Adjust font"></i>
				<div class = "fonts">
					<i class = "fa fa-plus" id = "inc-font" title = "Increase font"></i>
					<i class = "fa fa-minus" id = "dec-font" title = "Decrease font"></i>
				</div>
				<div class = "theme">
					<i class = "fa fa-moon" id = "darkMode" class = "themes" title = "Enable dark mode"></i> 
					<i class = "fas fa-sun" id = "lightMode" class = "themes" title = "Enable light mode"></i>
				</div>>
			</div>
		</div>
			<div class = "searchbar"> 
				<form action="{{ url_for('serve_article') }}" method="post">
					<input type = "text" placeholder="Enter URL here..." name = "URL" id = "searching">
					<button type = "submit"><i class = "fa fa-search fa-rotate-vertical" id = "search"></i></button>
				</form>
			
			</div>
		
	</div>
	<hr>
	<div class = "body-container"> 
		<div class = "float-left"> 
			<center><div class = "page-logo"><img src = "{{ icon }}"></div></center>
			<center>
			<div class = "pictures">
		
				<i class="fas fa-arrow-circle-left" id = "previous"></i>
				{% if images|length > 0 %}
 					{% for i in range(images|length) %}
			        <div class = "mySlides fade">
                    <img src = "{{ images[i] }}" style="width:90%">
                    <figcaption id = "cur-caption">{{ captions[i] }}</figcaption>
                	</div>
			    	{% endfor %}
				{% endif %}
				<div>
	            	{% if images|length > 0 %}
	 					{% for i in range(images|length) %}
				        <span class = "counter"></span>
				    	{% endfor %}
				    {% endif %}
            	</div>
               	 
				<i class="fas fa-arrow-circle-right" id = "next"></i>

			</div>
			</center>
            	
		</div>
		<div class = "float-right">
			<div id = "article-title" > {{ title }} </div>
			<div id = "main-text"> {{ text }} </div>
		</div>
	</div>

	<script type = "text/javascript" src = "../static/feature.js"></script>
	<script type = "text/javascript" src = "../static/carousel.js"></script>
		


</body>

</html>
